<div>
    <div *ngFor="let item of dataNote;let i=index">
        <div class="sowSection" [formGroup]="formGroup">
            <i class='fas fa-pencil-alt' (click)="openEditsection(i, item)"></i>
            <i class="fa fa-trash" (click)="deleteNote(item)"></i>

            <div class="form">
                <div class="inputDiv" *ngIf="(i===isshow); else title ">

                    <div *ngIf="((formGroup.get('title')?.errors && formGroup.get('title').touched)) && (i===isshow) ||
                         this.formGroup.get('title')?.errors?.maxlength && (i===isshow)"
                        class="warning">
                        <p>{{errorMessage}}</p>
                    </div>

                    <input type='text' name="title" formControlName="title" #error>

                </div>
                <ng-template #title>
                    <div class="inputDiv">
                        <p class="text">{{item.title}}</p>
                    </div>
                </ng-template>

                <div class="remuvTextarea" *ngIf="(i===isshow); else note">

                    <div *ngIf="((formGroup.get('description')?.errors && formGroup.get('description').touched)) && (i===isshow)"
                        class="warwarningDescription">
                        <p>{{errorMessage}}</p>
                    </div>

                    <textarea name="description" class="textarea"
                        formControlName="description"></textarea>
                </div>
                <ng-template #note>
                    <div class="remuvTextarea">
                        <p class="text">{{item.description}}</p>
                    </div>
                </ng-template>


                <button *ngIf="i===isshow ? true:false" class="ishidden" (click)='remuveNotes(item)'>Save</button>
            </div>

        </div>

    </div>