.sowSection {
    display: flex;
    flex-direction: column;
    background-color:rgba(248, 245, 245, 0.9);
    border-radius: 20px;
    flex-wrap: wrap;
    margin-bottom: 10px;
    position: relative;
    max-width: 400px;
    min-width: 300px;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 2rem;
    justify-content: center;
}

.inputDiv {
    margin: 10px 0;
    min-height: 20px;
    min-width: 40%;
    padding: 5px;
}

.textarea {
    min-width: 97%;
    min-height: 50px;
    border-radius: 10px;
    outline: none;
    padding: 5px;
    border: 1px solid rgb(184, 179, 179);
    resize: none;       
}

.text {
    width: 100% !important;
    overflow-wrap: anywhere !important;
}

.fas {
    position: absolute;
    top: 1rem;
    right: 2.7rem;
}

.fa {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.ishidden {
    display: block;
}


.warning {
    background-color: red;
    color: white;
    position: absolute;
    z-index: 999;
    top: 0.5rem;
    left: 2.9rem;
    width: 41%;
    text-align: center;
    padding: 6px;
    border-radius: 16px;
}


.warwarningDescription{
    background-color: red;
    color: white;
    position: absolute;
    z-index: 999;
    top: -1.9rem;
    left: 0.rem;
    width: 54%;
    text-align: center;
    padding: 6px;
    border-radius: 16px
}


input {
    border-radius: 15px;
    border: 1px solid rgb(184, 179, 179);
    outline: none;
    min-height: 20px;
    padding: 5px;
    width: 55%;
}

button {
    margin-top: 20px;
    width: 35% ;
    color: white;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 15px;
    outline: none;
    padding: 3px;
    font-size: small;
}

.remuvTextarea {
    display: flex;
    min-height: 50px;
    margin-top: 10px;
    padding: 5px;
    position: relative;
}

@media only screen and (max-width: 600px) {
    
    .form {
        margin: 0;
        width: 100%;
    } 

    .remuvTextarea {
        padding-left: 20px;
        margin: 0;
    }

    .inputDiv {
        padding-left: 20px;
    }

    .warning {
        top: -1.5rem;
    }

    .warwarningDescription{
        top: -1.8rem;
    }

    .ishidden {
        margin: 20px;
    }

}